#body{          /*this is for body*/
    color:teal;
    background: url("images/linkedin-jpeg.png") ;
    background-size: cover;
    height: 100vh;
}

/*
#header{
    position: absolute;
    top: 17px;
    right: 0px;
}
*/

#social-acc{        /*this is for social acc.*/
    background-color: #f2e204;
    height: 70;
    float: right;
}

#social-acc_linkedin{       /*this is for linkedin logo*/
    box-shadow: 2px 3px transparent);
    margin-left: 64%;
    height: 10%;
    width: 10%;
    float: left;
    border: 0px solid black;
}

#social-acc_github{         /*this is for github logo*/
    box-shadow: 2px 3px transparent;
    margin-left: 2%;
    height: 40px;
    width: 10%;
    float: left;
   border: 0px solid black;
}

#social-acc_email{          /*this is for email logo*/
    box-shadow: 2px 3px transparent;
    margin-left: 2%;
    height: 40px;
    width: 10%;
    text-align: center;
    float: left;
   border: 0px solid black;
}

.Flavors{
    text-align: center;
    transform: translate(0%, 0%);
    transition-duration: 0s;
    font-family: 'Flavors', cursive;
}

.Srisakdi{
    text-align: center;
    font-family: 'Srisakdi', cursive;
}

#footer{
    align-self: auto;
}

#mc{
    background-color: rgb(127, 216, 207);
    behavior="scroll" 
    width="100%" 
    direction="left"
}

#p{
    font-family: 'Flavors', cursive;
    font-size: 20;
}
