*       /*this is for everything*/
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background: url('https://i.stack.imgur.com/Of2w5.jpg');
}

div
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background-color: transparent;
    height: 50%;
    width: 80%;
    margin: 0 10%;
    border: 10px dotted;
    border-radius: 30pc;
    border-image: url('https://i.stack.imgur.com/Of2w5.jpg') 30 round;
}

ul
{
    position: relative;
    display: flex;
}

ul li
{
    position: sticky;
    list-style: none;
    margin: 0 50px;
    cursor: pointer;
    text-decoration: none;
}

ul a .fa
{
    font-size: 4em;
    color: #696969;
}

ul a::before
{
    font-family: fontAwesome;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 4em;
    height: 0;
    overflow: hidden;
    transition: 0.7s ease-in-out;
}

ul li a:hover::before
{
    opacity: 1;
    height: 100%;
}
            /*github logo*/
ul #github a:nth-child(1)::before
{
    content: '\f09b';
    color:  #080b0e;
    border-bottom: 4px solid  #080b0e;
}
            /*linkedin logo*/
ul #linkedin a:nth-child(1)::before
{
    content: '\f0e1';
    color: #0077b5;
    border-bottom: 4px solid #0077b5;
}
            /*instagram logo*/
ul #instagram a:nth-child(1)::before
{
    content: '\f16d';
    color:  #8a3ab9;
    border-bottom: 4px solid  #8a3ab9;
}
            /*codepen logo*/
ul #codepen a:nth-child(1)::before
{
    content: '\f1cb';
    color: #122329;
    border-bottom: 4px solid #122329;
}
            /*youtube logo*/
ul #youtube a:nth-child(1)::before
{
    content: '\f16a';
    color:  #FF0000;
    border-bottom: 4px solid  #FF0000;
}
            /*facebook logo*/
ul #facebook a:nth-child(1)::before
{
    content: '\f082';
    color:  #3b5998;
    border-bottom: 4px solid  #3b5998;
}
            /*twitter logo*/
ul #twitter a:nth-child(1)::before
{
    content: '\f099';
    color: #1da1f2;
    border-bottom: 4px solid #1da1f2;
}
            /*pinterest logo*/
ul #pinterest a:nth-child(1)::before
{
    content: '\f0d2';
    color:  #E60023;
    border-bottom: 4px solid  #E60023;
}
            /*twitch logo*/
ul #twitch a:nth-child(1)::before
{
    content: '\f1e8';
    color:  #6441a5;
    border-bottom: 4px solid  #6441a5;
}
            /*dribbble logo*/
ul #dribbble a:nth-child(1)::before
{
    content: '\f17d';
    color:  #E94C88;
    border-bottom: 4px solid  #E94C88;
}
                        