#body{
    color:teal;
    background-color: rgb(140, 216, 208);
}
.name{
    text-align: center;
    transform: translate(0%, 0%);
    transition-duration: 0s;
    font-family: 'Flavors', cursive;
    font-size: 100;
}