/* available */
#body{
    color:teal;
    background-image: url("social-media.jpg") ;
}

#social-acc{
    background-color: #D3D0DA;
    height: 70;
    text-align: right;
    margin-bottom: %;
}
#TG{
    box-shadow: 2px 3px gray;
    margin-left: 113px;
    height: 30%;
    width: 5%;
    background-color:transparent;
    float: left;
   border: 0px solid black;
}
#TF{
    box-shadow: 2px 3px gray;
    margin-left: 113px;
    height: 30%;
    width: 5%;
    background-color:transparent;
    float: left;
   border: 0px solid black;
}

.email-id{
    text-decoration: none;
    color: orangered;
}

.Flavors{
    text-align: center;
    transform: translate(0%, 0%);
    transition-duration: 0s;
    font-family: 'Flavors', cursive;
}

.Srisakdi{
    text-align: center;
    font-family: 'Srisakdi', cursive;
}

#footer{
    align-self: auto;
}

#mc{
    background-color: rgb(127, 216, 207);
    behavior="scroll" 
    width="100%" 
    direction="left"
}

#p{
    font-family: 'Flavors', cursive;
    font-size: 20;
}
