*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background: whitesmoke;
}

ul
{
    position: relative;
    display: flex;
}

            /*Twitter start*/
ul #twitter
{
    position: sticky;
    list-style: none;
    margin: 0 50px;
    cursor: pointer;
}
ul #twitter a
{
    text-decoration: none;
}
ul #twitter a .fa
{
    font-size: 4em;
    color: #696969;
}

#ul #twitter a::before
{
    font-family: fontAwesome;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 4em;
    height: 0;
    overflow: hidden;
    transition: 0.7s ease-in-out;
}
#ul #twitter a:nth-child(1)::before
{
    content: '\f099';
    color: #1da1f2;
    border-bottom: 4px solid #1da1f2;
}
#ul #twitter a:hover::before
{
    opacity: 1;
    height: 100%;
}
            /*Twitter end*/

            /*CodePen start*/
ul #codepen
{
    position: sticky;
    list-style: none;
    margin: 0 50px;
    cursor: pointer;
}
ul #codepen a
{
    text-decoration: none;
}
ul #codepen a .fa
{
    font-size: 4em;
    color: #696969;
}

#ul #codepen a::before
{
    font-family: fontAwesome;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 4em;
    height: 0;
    overflow: hidden;
    transition: 0.7s ease-in-out;
}
#ul #codepen a:nth-child(1)::before
{
    content: '\f1cb';
    color: #122329;
    border-bottom: 4px solid #122329;
}
#ul #codepen a:hover::before
{
    opacity: 1;
    height: 100%;
}
            /*CodePen end*/

            /*github start*/
ul #github
{
    position: sticky;
    list-style: none;
    margin: 0 50px;
    cursor: pointer;
}
ul #github a
{
    text-decoration: none;
}
ul #github a .fa
{
    font-size: 4em;
    color: #696969;
}

#ul #github a::before
{
    font-family: fontAwesome;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 4em;
    height: 0;
    overflow: hidden;
    transition: 0.7s ease-in-out;
}
#ul #github a:nth-child(1)::before
{
    content: '\f09b';
    color:  #080b0e;
    border-bottom: 4px solid  #122329;
}
#ul #github a:hover::before
{
    opacity: 1;
    height: 100%;
}
            /*github end*/

            /*linkedin start*/
ul #linkedin
{
    position: sticky;
    list-style: none;
    margin: 0 50px;
    cursor: pointer;
}
ul #linkedin a
{
    text-decoration: none;
}
ul #linkedin a .fa
{
    font-size: 4em;
    color: #696969;
}

#ul #linkedin a::before
{
    font-family: fontAwesome;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 4em;
    height: 0;
    overflow: hidden;
    transition: 0.7s ease-in-out;
}
#ul #linkedin a:nth-child(1)::before
{
    content: '\f0e1';
    color: #0077b5;
    border-bottom: 4px solid #0077b5;
}
#ul #linkedin a:hover::before
{
    opacity: 1;
    height: 100%;
}
            /*linkedin end*/

            /*facebook start*/
ul #facebook
{
    position: sticky;
    list-style: none;
    margin: 0 50px;
    cursor: pointer;
}
ul #facebook a
{
    text-decoration: none;
}
ul #facebook a .fa
{
    font-size: 4em;
    color: #696969;
}

#ul #facebook a::before
{
    font-family: fontAwesome;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 4em;
    height: 0;
    overflow: hidden;
    transition: 0.7s ease-in-out;
}
#ul #facebook a:nth-child(1)::before
{
    content: '\f082';
    color:  #3b5998;
    border-bottom: 4px solid  #3b5998;
}
#ul #facebook a:hover::before
{
    opacity: 1;
    height: 100%;
}
            /*facebook end*/

            /*instagram start*/
ul #instagram
{
    position: sticky;
    list-style: none;
    margin: 0 50px;
    cursor: pointer;
}
ul #instagram a
{
    text-decoration: none;
}
ul #instagram a .fa
{
    font-size: 4em;
    color: #696969;
}

#ul #instagram a::before
{
    font-family: fontAwesome;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 4em;
    height: 0;
    overflow: hidden;
    transition: 0.7s ease-in-out;
}
#ul #instagram a:nth-child(1)::before
{
    content: '\f16d';
    color:  #8a3ab9;
    border-bottom: 4px solid  #8a3ab9;
}
#ul #instagram a:hover::before
{
    opacity: 1;
    height: 100%;
}
            /*instagram end*/
            
            
            /*twitch start*/
ul #twitch
{
    position: sticky;
    list-style: none;
    margin: 0 50px;
    cursor: pointer;
}
ul #twitch a
{
    text-decoration: none;
}
ul #twitch a .fa
{
    font-size: 4em;
    color: #696969;
}

#ul #twitch a::before
{
    font-family: fontAwesome;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 4em;
    height: 0;
    overflow: hidden;
    transition: 0.7s ease-in-out;
}
#ul #twitch a:nth-child(1)::before
{
    content: '\f1e8';
    color:  #6441a5;
    border-bottom: 4px solid  #6441a5;
}
#ul #twitch a:hover::before
{
    opacity: 1;
    height: 100%;
}
            /*twitch end*/